@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap");

/* CORES */
:root {
  --inkBlack: #000814;
  --prussianBlue: #001d3d;
  --regalNavy: #003566;
  --schoolBusYellow: #ffc300;
  --gold: #ffd60a;
}
/*FONTES*/
.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}
/*FIM FONTES*/

.centralizar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-family: "Space Grotesk", sans-serif;
  font-weight: medium 500;
  font-style: normal;
  font-size: 100px;
  text-shadow: 3px 5px 10px var(--inkBlack);
}

.titulo {
  font-size: 6rem; /* Desktop */
}

@media (max-width: 768px) {
  .titulo {
    font-size: 2.5rem; /* Mobile */
  }
}

html,
body {
  background: var(--inkBlack);
  background: linear-gradient(
    90deg,
    rgba(0, 8, 20, 1) 0%,
    rgba(0, 53, 102, 1) 29%,
    var(--gold) 100%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#containerMusicaTeca {
  margin: 50px;
  font-family: "Manrope", sans-serif;
  color: whitesmoke;
}
input {
  width: clamp(250px, 50vw, 600px);
  margin-left: 20px;
}

.pesquisar {
  margin-right: 20px;
}

.vidroInput,
.vidroInput:focus {
  height: 50px;
  padding-left: 16px;
  font-size: 16px;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}

label {
  margin-top: 10px;
  font-size: larger;
}

.pesquisar {
  background-color: var(--gold);
  width: 50px;
  height: 50px;
  border: none;

  cursor: pointer;
  transition: all 0.2s ease;

  display: flex;
  place-items: center;
  box-shadow: 3px 5px 10px var(--inkBlack);
}

.pesquisar:hover {
  box-shadow: 1px 2px 3px var(--inkBlack);
  /* box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.25); */
}

.bi-search {
  font-size: 20px;
  color: #000;
}

footer {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  margin-top: auto;
}

.vidro {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}

.vidroCard {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color:whitesmoke;
  text-shadow: 1px 1px 1px #000814;
  font-size: larger;
}

.headerCor nav {
  .nav-link,
  .navbar-brand {
    color: whitesmoke;
  }
}

#exibirDados {
  .btn-close {
    color: white;
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e");
  }
}

.estiloFooter a {
  color: whitesmoke;
  text-decoration: none;
}

.vidroFooter {
  height: 100px;
  padding-left: 16px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}

.bi-github {
  margin: 2px;
}
