.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background: #0F1117;
    background: linear-gradient(45deg, rgba(15, 17, 23, 1) 0%, rgba(23, 46, 71, 1) 50%, rgba(17, 209, 203, 1) 100%);
    
}